Repository qimcis/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests

Encoder Tests:
  command: timeout 30m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 30m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 30m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 60m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=ssim
  agents:
    queue: default

[Feature] [Training] Add i2v training (#559)
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.sh
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.slurm
  fastvideo/v1/dataset/parquet_dataset_iterable_style.py
  fastvideo/v1/dataset/parquet_dataset_map_style.py
  fastvideo/v1/dataset/utils.py
  fastvideo/v1/pipelines/pipeline_batch_info.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_i2v.py
  fastvideo/v1/pipelines/preprocess/v1_preprocess.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/tests/nightly/i2v-wandb-summary.json
  fastvideo/v1/tests/nightly/i2v_validation_videos_40_steps_900_581ff5eae2909d3a7b36.mp4
  fastvideo/v1/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/v1/tests/training/Vanilla/reference_wandb_summary.json
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_i2v_training_pipeline.py
Due: SSIM Tests

[Feature][Inference] Add VSA inference script (#561)
  scripts/inference/v1_inference_wan_VSA.sh
Due: none

[Docs] [Training] add readme for example training (#563)
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/README.md
  examples/training/finetune/wan_t2v_1_3b/crush_smol/README.md
Due: none

[Feature] Load weights from distributed (#470)
  .github/workflows/pr-test.yml
  examples/inference/basic/basic.py
  fastvideo/v1/configs/models/base.py
  fastvideo/v1/configs/models/dits/stepvideo.py
  fastvideo/v1/configs/models/encoders/base.py
  fastvideo/v1/configs/models/encoders/clip.py
  fastvideo/v1/configs/models/encoders/llama.py
  fastvideo/v1/configs/models/encoders/t5.py
  fastvideo/v1/dataset/benchmarks/benchmark_parquet_dataset_iterable_style.py
  fastvideo/v1/dataset/benchmarks/benchmark_parquet_dataset_map_style.py
  fastvideo/v1/distributed/__init__.py
  fastvideo/v1/distributed/parallel_state.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/layers/layernorm.py
  fastvideo/v1/models/dits/stepvideo.py
  fastvideo/v1/models/encoders/base.py
  fastvideo/v1/models/encoders/clip.py
  fastvideo/v1/models/encoders/llama.py
  fastvideo/v1/models/encoders/t5.py
  fastvideo/v1/models/loader/component_loader.py
  fastvideo/v1/models/loader/fsdp_load.py
  fastvideo/v1/models/loader/weight_utils.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_i2v.py
  fastvideo/v1/pipelines/stages/decoding.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/pipelines/stages/image_encoding.py
  fastvideo/v1/pipelines/stages/latent_preparation.py
  fastvideo/v1/pipelines/stages/text_encoding.py
  fastvideo/v1/pipelines/stages/timestep_preparation.py
  fastvideo/v1/pipelines/stepvideo/stepvideo_pipeline.py
  fastvideo/v1/tests/encoders/test_clip_encoder.py
  fastvideo/v1/tests/encoders/test_llama_encoder.py
  fastvideo/v1/tests/encoders/test_t5_encoder.py
  fastvideo/v1/tests/transformers/test_hunyuanvideo.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_i2v_training_pipeline.py
Due: Encoder Tests, Transformer Tests, SSIM Tests

[CI] Fix SSIM and transformers CI (#564)
  fastvideo/v1/models/loader/component_loader.py
  fastvideo/v1/models/loader/fsdp_load.py
  fastvideo/v1/tests/transformers/test_hunyuanvideo.py
  fastvideo/v1/tests/transformers/test_hunyuanvideo_load.py
  fastvideo/v1/tests/transformers/test_wanvideo.py
Due: Transformer Tests, SSIM Tests

[CI] Add tests to Modal (#562)
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .buildkite/scripts/pre_commit.sh
  fastvideo/v1/tests/encoders/test_clip_encoder.py
  fastvideo/v1/tests/modal/pr_test.py
  fastvideo/v1/tests/ssim/README.md
  fastvideo/v1/tests/ssim/test_inference_similarity.py
  fastvideo/v1/tests/training/Vanilla/a40_reference_wandb_summary.json
  fastvideo/v1/tests/training/Vanilla/l40s_reference_wandb_summary.json
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/tests/vaes/test_hunyuan_vae.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, SSIM Tests

Fix CLIP config (#568)
  fastvideo/v1/configs/models/encoders/clip.py
Due: SSIM Tests

[Revert] "[Feature] Load weights from distributed" (#571)
  .github/workflows/pr-test.yml
  examples/inference/basic/basic.py
  fastvideo/v1/configs/models/base.py
  fastvideo/v1/configs/models/dits/stepvideo.py
  fastvideo/v1/configs/models/encoders/base.py
  fastvideo/v1/configs/models/encoders/clip.py
  fastvideo/v1/configs/models/encoders/llama.py
  fastvideo/v1/configs/models/encoders/t5.py
  fastvideo/v1/dataset/benchmarks/benchmark_parquet_dataset_iterable_style.py
  fastvideo/v1/dataset/benchmarks/benchmark_parquet_dataset_map_style.py
  fastvideo/v1/distributed/__init__.py
  fastvideo/v1/distributed/parallel_state.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/layers/layernorm.py
  fastvideo/v1/models/dits/stepvideo.py
  fastvideo/v1/models/encoders/base.py
  fastvideo/v1/models/encoders/clip.py
  fastvideo/v1/models/encoders/llama.py
  fastvideo/v1/models/encoders/t5.py
  fastvideo/v1/models/loader/component_loader.py
  fastvideo/v1/models/loader/fsdp_load.py
  fastvideo/v1/models/loader/weight_utils.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_i2v.py
  fastvideo/v1/pipelines/stages/decoding.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/pipelines/stages/image_encoding.py
  fastvideo/v1/pipelines/stages/latent_preparation.py
  fastvideo/v1/pipelines/stages/text_encoding.py
  fastvideo/v1/pipelines/stages/timestep_preparation.py
  fastvideo/v1/pipelines/stepvideo/stepvideo_pipeline.py
  fastvideo/v1/tests/encoders/test_clip_encoder.py
  fastvideo/v1/tests/encoders/test_llama_encoder.py
  fastvideo/v1/tests/encoders/test_t5_encoder.py
  fastvideo/v1/tests/transformers/test_hunyuanvideo.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_i2v_training_pipeline.py
Due: Encoder Tests, Transformer Tests, SSIM Tests

[ci] [misc] fix training test threshold (#573)
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
Due: SSIM Tests

[Bugfix]Fix VSA sp for training/inference (#574)
  .github/workflows/pr-test.yml
  fastvideo/v1/tests/inference/STA/test_STA_inference.py
  fastvideo/v1/tests/modal/pr_test.py
  fastvideo/v1/tests/training/VSA/reference_wandb_summary_VSA.json
  fastvideo/v1/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/v1/training/training_pipeline.py
Due: SSIM Tests

fully_shard usage on RMSNorm (#577)
  fastvideo/v1/layers/layernorm.py
Due: Transformer Tests, SSIM Tests

[CI] Fix pre-commit CI (#578)
  fastvideo/v1/layers/layernorm.py
Due: Transformer Tests, SSIM Tests

[misc] [training] Add --video_length_tolerance_range 10 to preprocessing scripts (#581)
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/preprocess_wan_data_i2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/preprocess_wan_data_t2v.sh
Due: none

[Training] add caption to validation log (#582)
  fastvideo/v1/training/training_pipeline.py
Due: SSIM Tests

[Feat] activation checkpointing (#584)
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/training/activation_checkpoint.py
  fastvideo/v1/training/training_pipeline.py
Due: SSIM Tests

[Feat][Training] Rename weight conversion function and update gradient checkpoint in scripts (#589)
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/training_utils.py
  scripts/finetune/finetune_v1.sh
  scripts/finetune/finetune_v1_VSA.sh
Due: SSIM Tests

[docs] Update Readme (#591)
  README.md
Due: none

[CI] Fix fork builds (#590)
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  fastvideo/v1/tests/modal/pr_test.py
  pyproject.toml
Due: SSIM Tests

[chore] Release 0.1.1 (#592)
  pyproject.toml
Due: none

Fix VAE precisions (#588)
  fastvideo/v1/configs/pipelines/base.py
  fastvideo/v1/configs/pipelines/wan.py
  fastvideo/v1/configs/wan_1.3B_t2v_pipeline.json
  fastvideo/v1/configs/wan_14B_i2v_480p_pipeline.json
Due: SSIM Tests

Path conditions:
  Encoder Tests: any of: fastvideo/v1/models/encoders/**, fastvideo/v1/models/loaders/**, fastvideo/v1/tests/encoders/**
  VAE Tests: any of: fastvideo/v1/models/vaes/**, fastvideo/v1/models/loaders/**, fastvideo/v1/tests/vaes/**
  Transformer Tests: any of: fastvideo/v1/models/dits/**, fastvideo/v1/models/loaders/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/layers/**, fastvideo/v1/attention/**
  SSIM Tests: any of: fastvideo/v1/**/*.py
