Repository qimcis/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

Path conditions:
  Encoder Tests: any of: fastvideo/v1/models/encoders/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/v1/models/vaes/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/v1/models/dits/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/layers/**, fastvideo/v1/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/v1/**/*.py
  LoRA Inference Tests: any of: fastvideo/v1/tests/lora/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/pipelines/**, fastvideo/v1/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/v1/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/v1/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/v1/**, csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/v1/**, csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12

[CI] Fix CI for pull request targets other than main (#632)
  .buildkite/pipeline.yml
  fastvideo/v1/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA

[bugfix] Fix preprocessing pipelines and nightly tests (#633)
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/preprocess_wan_data_i2v.sh
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/preprocess_wan_data_i2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/preprocess_wan_data_t2v.sh
  fastvideo/v1/dataset/dataloader/schema.py
  fastvideo/v1/pipelines/composed_pipeline_base.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_i2v.py
  fastvideo/v1/pipelines/preprocess/v1_preprocess.py
  fastvideo/v1/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/v1/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_i2v_training_pipeline.py
  fastvideo/v1/training/wan_training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA

[Bugfix] Fix LoRA trainable params and training ckpt loading (#630)
  .gitignore
  examples/inference/lora/wan_lora_inference_from_ckpt.py
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.sh
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v_lora.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.slurm
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v_lora.sh
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/layers/lora/linear.py
  fastvideo/v1/pipelines/composed_pipeline_base.py
  fastvideo/v1/pipelines/lora_pipeline.py
  fastvideo/v1/tests/training/lora/l40s_reference_lora_wandb_summary.json
  fastvideo/v1/tests/training/lora/test_lora_training.py
  fastvideo/v1/training/checkpointing_utils.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/training_utils.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA

[Docs] Docs update for Training and MPS (#641)
  .github/ISSUE_TEMPLATE/3-RFC.yml
  .gitignore
  docs/Makefile
  docs/requirements-docs.txt
  docs/source/generate_examples.py
  docs/source/getting_started/installation.md
  docs/source/getting_started/installation/gpu.md
  docs/source/getting_started/installation/mps.md
  docs/source/index.md
  docs/source/inference/comfyui.md
  docs/source/inference/v0_inference.md
  examples/distillation/dmd/Wan2.1-Fun-1.3B-InP/crush_smol/README.md
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/README.md
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/README.md
  examples/training/finetune/wan_t2v_1_3b/crush_smol/README.md
Due: none

[Feature] Add DMD inference pipeline (#637)
  examples/inference/basic/README.md
  examples/inference/basic/basic_dmd.py
  fastvideo/v1/configs/pipelines/base.py
  fastvideo/v1/configs/pipelines/registry.py
  fastvideo/v1/configs/pipelines/wan.py
  fastvideo/v1/configs/sample/registry.py
  fastvideo/v1/configs/sample/wan.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/models/registry.py
  fastvideo/v1/models/schedulers/base.py
  fastvideo/v1/models/schedulers/scheduling_flow_match_euler_discrete.py
  fastvideo/v1/models/schedulers/scheduling_flow_unipc_multistep.py
  fastvideo/v1/models/schedulers/scheduling_unipc_multistep.py
  fastvideo/v1/pipelines/stages/__init__.py
  fastvideo/v1/pipelines/stages/base.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/pipelines/wan/wan_dmd_pipeline.py
  fastvideo/v1/tests/ssim/L40S_reference_videos/FastHunyuan-diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/FastHunyuan-diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-I2V-14B-480P-Diffusers/FLASH_ATTN/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-I2V-14B-480P-Diffusers/TORCH_SDPA/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-T2V-1.3B-Diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/update_reference_videos.sh
  fastvideo/v1/training/training_utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA

[Feature] Multi-lora inference (#640)
  examples/inference/lora/wan_lora_inference.py
  fastvideo/utils/collect_env.py
  fastvideo/v1/layers/linear.py
  fastvideo/v1/layers/lora/linear.py
  fastvideo/v1/tests/inference/lora/test_lora_inference_similarity.py
  fastvideo/v1/worker/gpu_worker.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA

[1/3][Preprocess] refactor preprocessing configs (#638)
  fastvideo/configs/configs.py
  fastvideo/configs/utils.py
  fastvideo/fastvideo_args.py
Due: none

[misc] Use FASTVIDEO_STAGE_LOGGING for perf timing of stage (#644)
  fastvideo/envs.py
  fastvideo/pipelines/stages/base.py
Due: none

[Feature] Add prompt_txt support for CLI inference; Add DMD CLI inference (#646)
  fastvideo/entrypoints/cli/generate.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  scripts/inference/v1_inference_wan_dmd.sh
Due: none

[core] Add offloading for vae and image encoder and rename offloading args (#643)
  comfyui/examples/FastHunyuan-diffusers.json
  comfyui/examples/Wan2.1-I2V-14B-480P-Diffusers.json
  comfyui/video_generator/video_generator.py
  comfyui/web/js/FastVideo.core.js
  docs/source/inference/configuration.md
  examples/inference/basic/basic.py
  examples/inference/basic/basic_dmd.py
  examples/inference/basic/basic_mps.py
  examples/inference/basic/test.py
  examples/inference/optimizations/teacache_example.py
  fastvideo/configs/fasthunyuan_t2v.json
  fastvideo/configs/wan_1.3B_t2v_pipeline.json
  fastvideo/configs/wan_14B_i2v_480p_pipeline.json
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/encoding.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/tests/inference/lora/test_lora_inference_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/transformers/test_hunyuanvideo_load.py
  fastvideo/tests/transformers/test_wanvideo.py
  fastvideo/tests/vaes/test_hunyuan_vae.py
  fastvideo/tests/vaes/test_wan_vae.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/wan_i2v_training_pipeline.py
  fastvideo/training/wan_training_pipeline.py
Due: none

[CI] Add publish workflow for ComfyUI (#647)
  .github/workflows/publish-comfyui.yml
  comfyui/assets/logo.png
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[CI] Fix ComfyUI publisher ID (#648)
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[bugfix] VideoGenerator improperly extracts output_video_name (#649)
  fastvideo/configs/sample/base.py
  fastvideo/entrypoints/video_generator.py
Due: none

[Feature] Add DMD T2V training pipeline (#651)
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/wan/wan_i2v_dmd_pipeline.py
  fastvideo/training/__init__.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
  fastvideo/training/wan_distillation_pipeline.py
  fastvideo/training/wan_i2v_distillation_pipeline.py
  scripts/distill/v1_distill_dmd_wan.sh
  scripts/distill/v1_distill_dmd_wan_VSA.sh
  scripts/finetune/finetune_v1.sh
Due: none

[Feature] Ignore [union-attr] and [override] mypy check and remove from training (#652)
  .pre-commit-config.yaml
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/wan_i2v_distillation_pipeline.py
  fastvideo/training/wan_i2v_training_pipeline.py
Due: none

[Feature] Add Wan-14B-T2V-VSA CLI inference; add master port args (#653)
  fastvideo/configs/pipelines/registry.py
  fastvideo/fastvideo_args.py
  fastvideo/worker/multiproc_executor.py
Due: none

[Feature][Distill]Add DMD+VSA joint training example (#654)
  examples/distill/Wan-Syn-480P/README.md
  examples/distill/Wan-Syn-480P/distill_dmd_VSA_t2v.slurm
  examples/distill/Wan-Syn-480P/distill_dmd_t2v.slurm
  examples/distill/Wan-Syn-480P/download_dataset.sh
  examples/distill/Wan-Syn-480P/validation_64.json
Due: none

[2/3][Preprocess] refactor pipeline registry & file structure (#639)
  fastvideo/configs/configs.py
  fastvideo/fastvideo_args.py
  fastvideo/models/registry.py
  fastvideo/pipelines/__init__.py
  fastvideo/pipelines/basic/__init__.py
  fastvideo/pipelines/basic/hunyuan/__init__.py
  fastvideo/pipelines/basic/hunyuan/hunyuan_pipeline.py
  fastvideo/pipelines/basic/stepvideo/__init__.py
  fastvideo/pipelines/basic/stepvideo/stepvideo_pipeline.py
  fastvideo/pipelines/basic/wan/__init__.py
  fastvideo/pipelines/basic/wan/wan_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_i2v_pipeline.py
  fastvideo/pipelines/basic/wan/wan_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/training/__init__.py
  fastvideo/training/wan_i2v_training_pipeline.py
  fastvideo/training/wan_training_pipeline.py
Due: none

[Feature][Distill]Add 14B 480p T2V distill example scripts (#655)
  examples/distill/Wan-Syn-480P/distill_dmd_VSA_t2v_14B_480P.slurm
  examples/distillation/dmd/Wan2.1-Fun-1.3B-InP/crush_smol/README.md
Due: none
