Repository qimcis/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

Path conditions:
  Encoder Tests: any of: fastvideo/v1/models/encoders/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/v1/models/vaes/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/v1/models/dits/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/layers/**, fastvideo/v1/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/v1/**/*.py
  LoRA Inference Tests: any of: fastvideo/v1/tests/lora/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/pipelines/**, fastvideo/v1/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/v1/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/v1/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/v1/**, csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/v1/**, csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12

[Fix] fix seed in dmd denoising loop (#736)
  csrc/attn/tests/test_vsa.py
  csrc/attn/vsa/block_sparse_h100.cu
  fastvideo/pipelines/stages/denoising.py
Due: Training Tests VSA, Precision Tests VSA

[bugfix] Check that model_index.json module is in required_modules list before removing (#756)
  fastvideo/pipelines/composed_pipeline_base.py
Due: none

Optionally use unmerged weights for inference (#745)
  examples/inference/lora/wan_lora_inference_from_ckpt.py
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_lora.sh
  fastvideo/entrypoints/video_generator.py
  fastvideo/layers/lora/linear.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/worker/executor.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/multiproc_executor.py
Due: none

[Feat][Preprocess] support merged dataset (#752)
  examples/training/finetune/wan_i2v_14B_480p/crush_smol/preprocess_wan_data_i2v_new.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/configs/configs.py
  fastvideo/workflow/preprocess/components.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
Due: none

[Feat][Preprocess] support multi-gpus (#753)
  examples/training/finetune/wan_i2v_14B_480p/crush_smol/preprocess_wan_data_i2v_new.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/configs/configs.py
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/workflow/preprocess/components.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
Due: none

[misc] [docs] Various fixes for logging and docs (#758)
  .pre-commit-config.yaml
  README.md
  assets/logo.png
  assets/logos/icon_simple.svg
  assets/logos/logo.svg
  comfyui/assets/icon_simple.svg
  comfyui/assets/logo.png
  docs/source/conf.py
  docs/source/contributing/developer_env/docker.md
  docs/source/contributing/developer_env/runpod.md
  docs/source/contributing/overview.md
  docs/source/getting_started/installation/gpu.md
  docs/source/getting_started/installation/mps.md
  docs/source/index.md
  docs/source/inference/inference_quick_start.md
  docs/source/inference/support_matrix.md
  docs/source/video_sparse_attention/demo.md
  docs/source/video_sparse_attention/installation.md
  examples/inference/gradio/gradio_frontend.py
  fastvideo/logger.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[bugfix] Fix wrong HF model string for FastWan2.2 5B (#763)
  fastvideo/configs/sample/registry.py
Due: none

Update Community Link (#765)
  README.md
Due: none

[Feat] Support Self-Forcing's Causal Inference for Wan2.1 T2V 1.3B (#766)
  examples/inference/basic/basic_self_forcing_causal.py
  fastvideo/configs/models/dits/wanvideo.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/configs/sample/registry.py
  fastvideo/configs/sample/wan.py
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/registry.py
  fastvideo/models/utils.py
  fastvideo/pipelines/basic/wan/wan_causal_dmd_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_utils.py
  scripts/checkpoint_conversion/wan_to_diffusers.py
Due: none

[Feature] Add wan2.2 5b i2v (#760)
  examples/inference/basic/basic_wan2_2_ti2v.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/configs/sample/wan.py
  fastvideo/layers/visual_embedding.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/basic/wan/wan_pipeline.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/utils.py
Due: none

[chore] Release 0.1.6 (#768)
  fastvideo/version.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[VSA] [STA] Fix directory structure for pypi publishing (#769)
  .buildkite/pipeline.yml
  .github/workflows/pr-test.yml
  .github/workflows/sta-publish.yml
  .github/workflows/vsa-publish.yml
  csrc/attn/README.md
  csrc/attn/scratch.sh
  csrc/attn/sliding_tile_attn/config_sta.py
  csrc/attn/sliding_tile_attn/setup.py
  csrc/attn/sliding_tile_attn/st_attn.cpp
  csrc/attn/sliding_tile_attn/st_attn/__init__.py
  csrc/attn/sliding_tile_attn/st_attn/st_attn_h100.cu
  csrc/attn/video_sparse_attn/config_vsa.py
  csrc/attn/video_sparse_attn/setup.py
  csrc/attn/video_sparse_attn/vsa.cpp
  csrc/attn/video_sparse_attn/vsa/__init__.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_attn_triton.py
  csrc/attn/video_sparse_attn/vsa/block_sparse_h100.cu
  csrc/attn/video_sparse_attn/vsa/block_sparse_wrapper.py
  csrc/attn/video_sparse_attn/vsa/index.py
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
  docker/Dockerfile.python3.12.cuda12.9.1
  docs/source/sliding_tile_attention/installation.md
  docs/source/video_sparse_attention/installation.md
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/README.md
  examples/distill/Wan2.2-TI2V-5B-Diffusers/Data-free/README.md
  examples/distill/Wan2.2-TI2V-5B-Diffusers/crush_smol/README.md
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/README.md
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[bugfix] fix STA install setup.py import (#770)
  csrc/attn/sliding_tile_attn/setup.py
Due: none

[bugfix] [VSA] [STA] Fix MANIFEST.in for VSA and STA; Move tk into both directories (#771)
  .buildkite/pipeline.yml
  .github/workflows/pr-test.yml
  .gitmodules
  csrc/attn/sliding_tile_attn/MANIFEST.in
  csrc/attn/sliding_tile_attn/README.md
  csrc/attn/sliding_tile_attn/setup.py
  csrc/attn/video_sparse_attn/MANIFEST.in
  csrc/attn/video_sparse_attn/README.md
  csrc/attn/video_sparse_attn/setup.py
Due: none

[misc] [VSA] [STA] fix tk_root in setup.py for VSA and STA (#772)
  csrc/attn/sliding_tile_attn/setup.py
  csrc/attn/video_sparse_attn/setup.py
Due: none

[Preprocess][Feat] support torchvision to load video in new preprocessing (#761)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/configs/configs.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/preprocess/preprocess_stages.py
  fastvideo/workflow/preprocess/components.py
Due: none

[Preprocess][Fix] video quality issue (#773)
  fastvideo/pipelines/stages/encoding.py
Due: none

[misc] Improve text encoding stage (#774)
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/stages/test_text_encoding.py
Due: none

[CI] Add ssim test for causal inference (#784)
  .github/workflows/pr-test.yml
  fastvideo/tests/ssim/L40S_reference_videos/SFWan2.1-T2V-1.3B-Diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/tests/ssim/README.md
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
Due: none

Update WeChat Link
  README.md
Due: none
