Repository qimcis/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests

Encoder Tests:
  command: timeout 30m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 30m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 30m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 60m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - BUILDKITE_CLEAN_CHECKOUT=true
  - TEST_TYPE=ssim
  agents:
    queue: default

[CI][bugfix] Use new 3.12 docker image (#526)
  .github/workflows/pr-test.yml
Due: none

[Bugfix][Inference]Fix envs.attn_backend (#525)
  examples/inference/sta_mask_search/inference_wan_sta.sh
  fastvideo/v1/configs/pipelines/base.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/platforms/cuda.py
  fastvideo/v1/training/wan_training_pipeline.py
  scripts/inference/v1_inference_wan_STA.sh
Due: SSIM Tests

[Ci] add sta and vsa install to docker image (#528)
  docker/Dockerfile.python3.12
Due: none

[CI] Add STA-inference/VSA-training test (#527)
  .github/workflows/pr-test.yml
  docker/Dockerfile.python3.12
  fastvideo/v1/STA_configuration.py
  fastvideo/v1/tests/inference/STA/test_STA_inference.py
  fastvideo/v1/tests/training/VSA/reference_wandb_summary_VSA.json
  fastvideo/v1/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/v1/tests/training/Vanilla/reference_wandb_summary.json
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
Due: SSIM Tests

[Bugfix][Readme]Fix readme website bugs and add VSA finetune docs (#531)
  README.md
  docs/source/training/finetune.md
Due: none

[Refactor] Move dict_to_3d_list under utils (#507)
  docs/source/sliding_tile_attention/demo.md
  fastvideo/v1/STA_configuration.py
  fastvideo/v1/attention/__init__.py
  fastvideo/v1/attention/backends/sliding_tile_attn.py
  fastvideo/v1/forward_context.py
  fastvideo/v1/models/dits/wanvideo.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/utils.py
  scripts/finetune/v0/finetune_hunyuan.sh
  scripts/finetune/v0/finetune_hunyuan_hf_lora.sh
  scripts/finetune/v0/finetune_mochi.sh
  scripts/finetune/v0/finetune_mochi_lora.sh
  scripts/finetune/v0/finetune_mochi_lora_mix.sh
  scripts/inference/v0/inference_hunyuan.sh
  scripts/inference/v0/inference_hunyuan_STA.sh
  scripts/inference/v0/inference_hunyuan_hf.sh
  scripts/inference/v0/inference_hunyuan_hf_quantization.sh
  scripts/inference/v0/inference_mochi_hf.sh
  scripts/inference/v0/inference_stepvideo.sh
  scripts/inference/v0/inference_stepvideo_STA.sh
  scripts/preprocess/v0/preprocess_hunyuan_data.sh
  scripts/preprocess/v0/preprocess_mochi_data.sh
  scripts/preprocess/v0/preprocess_wan_data.sh
Due: Transformer Tests, SSIM Tests

Specify cu128 Pytorch installation (#530)
  docker/Dockerfile.python3.12
  pyproject.toml
Due: none

[Feat] Add Stage input and output verification (#523)
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/pipelines/stages/base.py
  fastvideo/v1/pipelines/stages/conditioning.py
  fastvideo/v1/pipelines/stages/decoding.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/pipelines/stages/image_encoding.py
  fastvideo/v1/pipelines/stages/input_validation.py
  fastvideo/v1/pipelines/stages/latent_preparation.py
  fastvideo/v1/pipelines/stages/stepvideo_encoding.py
  fastvideo/v1/pipelines/stages/text_encoding.py
  fastvideo/v1/pipelines/stages/timestep_preparation.py
  fastvideo/v1/pipelines/stages/validators.py
  pyproject.toml
Due: SSIM Tests

[misc] Remove gradient checking code (#532)
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_training_pipeline.py
Due: SSIM Tests

[bugfix] Fix stage validator for multi text encoder models (#535)
  fastvideo/v1/pipelines/stages/text_encoding.py
  fastvideo/v1/pipelines/stages/validators.py
Due: SSIM Tests

[bugfix] [VSA] Fix layernorm type for VSA Wan2.1 TransformerBlock (#534)
  fastvideo/v1/models/dits/wanvideo.py
  fastvideo/v1/tests/ssim/test_inference_similarity.py
Due: Transformer Tests, SSIM Tests

[misc] [training] Reorganize training pipeline (#533)
  fastvideo/v1/forward_context.py
  fastvideo/v1/models/dits/wanvideo.py
  fastvideo/v1/models/utils.py
  fastvideo/v1/pipelines/__init__.py
  fastvideo/v1/pipelines/composed_pipeline_base.py
  fastvideo/v1/pipelines/pipeline_batch_info.py
  fastvideo/v1/platforms/interface.py
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_training_pipeline.py
  fastvideo/v1/utils.py
Due: Transformer Tests, SSIM Tests

[chore] Bump torch to 2.7.1 to support Blackwell (#483)
  .github/workflows/pr-test.yml
Due: none

[Training] Refactor and improve validation datasets (#539)
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/validation.json
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/validation_dataset/yYcK4nANZz4-Scene-027.mp4
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/validation_dataset/yYcK4nANZz4-Scene-030.mp4
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/validation_dataset/yYcK4nANZz4-Scene-034.mp4
  fastvideo/v1/dataset/__init__.py
  fastvideo/v1/dataset/dataloader/schema.py
  fastvideo/v1/dataset/preprocessing_datasets.py
  fastvideo/v1/dataset/t2v_datasets.py
  fastvideo/v1/dataset/validation_dataset.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/models/vision_utils.py
  fastvideo/v1/pipelines/pipeline_batch_info.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/v1/pipelines/preprocess/v1_preprocess.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/pipelines/stages/image_encoding.py
  fastvideo/v1/pipelines/stages/input_validation.py
  fastvideo/v1/pipelines/wan/wan_i2v_pipeline.py
  fastvideo/v1/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/v1/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/training/training_pipeline.py
  scripts/finetune/finetune_v1.sh
  scripts/finetune/finetune_v1_VSA.sh
  scripts/preprocess/v1_preprocess_wan_data_i2v.sh
  scripts/preprocess/v1_preprocess_wan_data_t2v.sh
Due: SSIM Tests

[Feature][Training]Add diffusers format checkpoint saving for inference (#542)
  fastvideo/v1/configs/models/dits/base.py
  fastvideo/v1/configs/models/dits/hunyuanvideo.py
  fastvideo/v1/configs/models/dits/wanvideo.py
  fastvideo/v1/models/dits/base.py
  fastvideo/v1/models/dits/hunyuanvideo.py
  fastvideo/v1/models/dits/stepvideo.py
  fastvideo/v1/models/dits/wanvideo.py
  fastvideo/v1/models/loader/fsdp_load.py
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/training/training_utils.py
Due: Transformer Tests, SSIM Tests

[Kernel] Remove all syncs from STA & VSA kernels (#517)
  .github/workflows/pr-test.yml
  csrc/attn/README.md
  csrc/attn/benchmarks/bench_sta.py
  csrc/attn/benchmarks/bench_vsa.py
  csrc/attn/st_attn/st_attn_h100.cu
  csrc/attn/tests/flex_sta_ref.py
  csrc/attn/tests/test_block_sparse.py
  csrc/attn/tests/test_block_sparse_mask_to_index.py
  csrc/attn/tests/test_fa2.py
  csrc/attn/tests/test_full_attn.py
  csrc/attn/tests/test_sta.py
  csrc/attn/vsa/block_sparse_h100.cu
Due: none

[CI] Fix CI checks (#553)
  .github/workflows/pr-test.yml
Due: none

[Feature][Training] Add cfg rate for dataset loader (#556)
  fastvideo/v1/dataset/parquet_dataset_map_style.py
  fastvideo/v1/dataset/preprocessing_datasets.py
  fastvideo/v1/dataset/utils.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/pipelines/preprocess/v1_preprocess.py
  fastvideo/v1/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/v1/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/training/training_pipeline.py
  scripts/finetune/finetune_v1.sh
  scripts/finetune/finetune_v1_VSA.sh
Due: SSIM Tests

[Training] Fixes SP for training; Improve Datasets and schema (#555)
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/download_dataset.sh
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.sh
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/preprocess_wan_data_i2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/download_dataset.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.slurm
  examples/training/finetune/wan_t2v_1_3b/crush_smol/preprocess_wan_data_t2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/validation.json
  examples/training/finetune/wan_t2v_1_3b/crush_smol/validation_dataset/yYcK4nANZz4-Scene-027.mp4
  examples/training/finetune/wan_t2v_1_3b/crush_smol/validation_dataset/yYcK4nANZz4-Scene-030.mp4
  examples/training/finetune/wan_t2v_1_3b/crush_smol/validation_dataset/yYcK4nANZz4-Scene-034.mp4
  fastvideo/v1/dataset/__init__.py
  fastvideo/v1/dataset/benchmarks/benchmark_parquet_dataset_map_style.py
  fastvideo/v1/dataset/dataloader/schema.py
  fastvideo/v1/dataset/parquet_dataset_map_style.py
  fastvideo/v1/dataset/preprocessing_datasets.py
  fastvideo/v1/dataset/utils.py
  fastvideo/v1/dataset/validation_dataset.py
  fastvideo/v1/pipelines/pipeline_batch_info.py
  fastvideo/v1/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/v1/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/training/training_pipeline.py
  pyproject.toml
Due: SSIM Tests

[CI] fix vae and ssim tests (#557)
  fastvideo/v1/tests/ssim/A40_reference_videos/FastHunyuan-diffusers/FLASH_ATTN/A lone hiker stands atop a towering cliff, silhouetted against the vast horizon. The rugged landscap.mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/FastHunyuan-diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/FastHunyuan-diffusers/TORCH_SDPA/A lone hiker stands atop a towering cliff, silhouetted against the vast horizon. The rugged landscap.mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/FastHunyuan-diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/Wan2.1-I2V-14B-480P-Diffusers/FLASH_ATTN/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/Wan2.1-I2V-14B-480P-Diffusers/TORCH_SDPA/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/Wan2.1-T2V-1.3B-Diffusers/FLASH_ATTN/A lone hiker stands atop a towering cliff, silhouetted against the vast horizon. The rugged landscap.mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/Wan2.1-T2V-1.3B-Diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/A lone hiker stands atop a towering cliff, silhouetted against the vast horizon. The rugged landscap.mp4
  fastvideo/v1/tests/ssim/A40_reference_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/FastHunyuan-diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/FastHunyuan-diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-I2V-14B-480P-Diffusers/FLASH_ATTN/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-I2V-14B-480P-Diffusers/TORCH_SDPA/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-T2V-1.3B-Diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/L40S_reference_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/README.md
  fastvideo/v1/tests/ssim/reference_videos/FastHunyuan-diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/reference_videos/FastHunyuan-diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/reference_videos/Wan2.1-I2V-14B-480P-Diffusers/FLASH_ATTN/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/reference_videos/Wan2.1-I2V-14B-480P-Diffusers/TORCH_SDPA/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/v1/tests/ssim/reference_videos/Wan2.1-T2V-1.3B-Diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/reference_videos/Wan2.1-T2V-1.3B-Diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of .mp4
  fastvideo/v1/tests/ssim/test_inference_similarity.py
  fastvideo/v1/tests/ssim/update_reference_videos.sh
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/tests/vaes/test_hunyuan_vae.py
Due: VAE Tests, SSIM Tests

Path conditions:
  Encoder Tests: any of: fastvideo/v1/models/encoders/**, fastvideo/v1/models/loaders/**, fastvideo/v1/tests/encoders/**
  VAE Tests: any of: fastvideo/v1/models/vaes/**, fastvideo/v1/models/loaders/**, fastvideo/v1/tests/vaes/**
  Transformer Tests: any of: fastvideo/v1/models/dits/**, fastvideo/v1/models/loaders/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/layers/**, fastvideo/v1/attention/**
  SSIM Tests: any of: fastvideo/v1/**/*.py
