Repository qimcis/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

Path conditions:
  Encoder Tests: any of: fastvideo/v1/models/encoders/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/v1/models/vaes/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/v1/models/dits/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/layers/**, fastvideo/v1/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/v1/**/*.py
  LoRA Inference Tests: any of: fastvideo/v1/tests/lora/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/pipelines/**, fastvideo/v1/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/v1/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/v1/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/v1/**, csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/v1/**, csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12

[Chore] Include our demo in the readme. (#720)
  README.md
Due: none

[Feat] Add Wan2.2 14B MoE (#688)
  README.md
  examples/inference/basic/basic_wan2_2.py
  examples/inference/basic/basic_wan2_2_i2v.py
  fastvideo/configs/models/dits/wanvideo.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/registry.py
  fastvideo/configs/sample/wan.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/schedulers/base.py
  fastvideo/models/schedulers/scheduling_flow_match_euler_discrete.py
  fastvideo/models/schedulers/scheduling_flow_unipc_multistep.py
  fastvideo/models/schedulers/scheduling_unipc_multistep.py
  fastvideo/pipelines/basic/wan/wan_i2v_pipeline.py
  fastvideo/pipelines/basic/wan/wan_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/distillation_pipeline.py
Due: none

[Misc] change installation logic of vsa (#721)
  csrc/attn/setup_vsa.py
  csrc/attn/vsa/__init__.py
  csrc/attn/vsa/block_sparse_wrapper.py
Due: Training Tests VSA, Precision Tests VSA

[3/3][Preprocess] add preprocessing workflows (#645)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/pipelines/basic/wan/wan_i2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/preprocess/__init__.py
  fastvideo/pipelines/preprocess/preprocess_stages.py
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/pipelines/preprocess/wan/__init__.py
  fastvideo/pipelines/preprocess/wan/wan_preprocess_pipelines.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/encoding.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/workflow/preprocess/components.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
  fastvideo/workflow/preprocess/preprocess_workflow_i2v.py
  fastvideo/workflow/preprocess/preprocess_workflow_t2v.py
  fastvideo/workflow/workflow_base.py
  pyproject.toml
  scripts/dataset_preparation/resize_videos.py
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[Fix] training pipeline pin_cpu_memory issue (#692)
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/training/wan_distillation_pipeline.py
  fastvideo/training/wan_training_pipeline.py
Due: none

add cicd workflow for publishing VSA kernel (#723)
  .github/workflows/vsa-publish.yml
Due: none

Remove all empty_cache (#713)
  csrc/attn/benchmarks/bench_sta.py
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_VSA_t2v_1.3B.slurm
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_VSA_t2v_14B.slurm
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/distill_dmd_t2v_1.3B.slurm
  examples/distill/Wan2.2-TI2V-5B-Diffusers/Data-free/distill_dmd_t2v_5B.sh
  examples/distill/Wan2.2-TI2V-5B-Diffusers/Data-free/distill_dmd_t2v_5B_VSA.sh
  examples/distill/Wan2.2-TI2V-5B-Diffusers/crush_smol/distill_dmd_VSA_t2v_5B.sh
  examples/inference/lora/wan_lora_inference_from_ckpt.py
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/finetune_i2v.sh
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_i2v_14B_480p/crush_smol/finetune_i2v.sh
  examples/training/finetune/wan_i2v_14B_480p/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_i2v_14B_480p/crush_smol/finetune_i2v_lora.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.slurm
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_lora.sh
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/worker/gpu_worker.py
  scripts/distill/v1_distill_dmd_wan.sh
  scripts/distill/v1_distill_dmd_wan_VSA.sh
  scripts/finetune/finetune_v1.sh
Due: none

update version selection for VSA workflow (#725)
  .github/workflows/vsa-publish.yml
Due: none

[bugfix] fix pyproject install and VSA precision test (#726)
  .buildkite/pipeline.yml
  csrc/attn/README.md
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/modal/pr_test.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

Fix LoRA load from training checkpoint (#719)
  examples/inference/basic/basic.py
  examples/inference/basic/basic_dmd.py
  examples/inference/lora/wan_lora_inference.py
  examples/inference/lora/wan_lora_inference_from_ckpt.py
  examples/inference/optimizations/attention_example.py
  examples/inference/optimizations/teacache_example.py
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  fastvideo/layers/lora/linear.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: none

[bugfix] [distill] remove i2v validation schema import in distill (#728)
  fastvideo/training/wan_i2v_distillation_pipeline.py
Due: none

[feature] add Gradio live serving demo code (#727)
  examples/inference/gradio/README.md
  examples/inference/gradio/gradio_demo.py
  examples/inference/gradio/gradio_frontend.py
  examples/inference/gradio/ray_serve_backend.py
  examples/inference/gradio/start.sh
  examples/inference/gradio/start_ray_serve_app.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/base.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/multiproc_executor.py
Due: none

[bugfix] [dmd] Fix backward simulation and also naming in wan_i2v_dmd_pipeline (#731)
  fastvideo/pipelines/basic/wan/wan_i2v_dmd_pipeline.py
  fastvideo/training/distillation_pipeline.py
Due: none

Fix vsa backward gQ (#735)
  csrc/attn/vsa/block_sparse_h100.cu
Due: Training Tests VSA, Precision Tests VSA

feat: preprocess validation dataset only when exist (#734)
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/pipelines/preprocess/wan/wan_preprocess_pipelines.py
  fastvideo/workflow/preprocess/components.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
  fastvideo/workflow/preprocess/preprocess_workflow_t2v.py
Due: none

Update WeChat group link (#739)
  README.md
Due: none

[Feat][Preprocessing] i2v preprocessing workflow (#737)
  examples/training/finetune/wan_i2v_14B_480p/crush_smol/preprocess_wan_data_i2v_new.sh
  fastvideo/configs/configs.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/preprocess/preprocess_stages.py
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/pipelines/preprocess/wan/wan_preprocess_pipelines.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/workflow/__init__.py
  fastvideo/workflow/preprocess/__init__.py
  fastvideo/workflow/preprocess/components.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
  fastvideo/workflow/preprocess/preprocess_workflow_i2v.py
  fastvideo/workflow/preprocess/preprocess_workflow_t2v.py
  fastvideo/workflow/preprocess/record_schema.py
  fastvideo/workflow/workflow_base.py
Due: none

[Docker] add 12.9 docker image and also fix py3.10 and py3.11 dockerfile (#749)
  .github/workflows/build-image.yml
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[bugfix] Missing Docker file for cuda12.9 (#750)
  docker/Dockerfile.python3.12.cuda12.9.1
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[bugfix] [dmd] Align backward simulation with dmd2 sample back (#744)
  fastvideo/training/distillation_pipeline.py
Due: none
