Repository qimcis/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

Path conditions:
  Encoder Tests: any of: fastvideo/v1/models/encoders/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/v1/models/vaes/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/v1/models/dits/**, fastvideo/v1/models/loader/**, fastvideo/v1/tests/transformers/**, fastvideo/v1/layers/**, fastvideo/v1/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/v1/**/*.py
  Training Tests: any of: fastvideo/v1/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/v1/**, csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests STA: any of: fastvideo/v1/**, csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests STA: any of: csrc/attn/st_attn/**, csrc/attn/setup_sta.py, csrc/attn/config_sta.py, csrc/attn/st_attn.cpp, pyproject.toml, docker/Dockerfile.python3.12
  Precision Tests VSA: any of: csrc/attn/vsa/**, csrc/attn/tk/**, csrc/attn/setup_vsa.py, csrc/attn/config_vsa.py, csrc/attn/vsa.cpp, pyproject.toml, docker/Dockerfile.python3.12

[LoRA] Fix lora merge weights (#579)
  fastvideo/v1/layers/lora/linear.py
Due: Transformer Tests, SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA

[Training] Use inference pipeline for training validation (#585)
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/README.md
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/download_dataset.sh
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/finetune_i2v.sh
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/finetune_i2v.slurm
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/preprocess_wan_data_i2v.sh
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/validation.json
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/validation_dataset/yYcK4nANZz4-Scene-027.mp4
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/validation_dataset/yYcK4nANZz4-Scene-030.mp4
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/validation_dataset/yYcK4nANZz4-Scene-034.mp4
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.slurm
  fastvideo/v1/configs/pipelines/registry.py
  fastvideo/v1/dataset/__init__.py
  fastvideo/v1/dataset/preprocessing_datasets.py
  fastvideo/v1/dataset/validation_dataset.py
  fastvideo/v1/distributed/parallel_state.py
  fastvideo/v1/pipelines/preprocess/preprocess_pipeline_i2v.py
  fastvideo/v1/pipelines/preprocess/v1_preprocess.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/pipelines/stages/image_encoding.py
  fastvideo/v1/pipelines/stages/input_validation.py
  fastvideo/v1/pipelines/wan/wan_i2v_pipeline.py
  fastvideo/v1/pipelines/wan/wan_pipeline.py
  fastvideo/v1/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_i2v_training_pipeline.py
  fastvideo/v1/training/wan_training_pipeline.py
  pyproject.toml
  scripts/finetune/finetune_v1.sh
  scripts/finetune/finetune_v1_VSA.sh
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[bugfix] [training] fix deadlock in latent datasets and init error in multi-node training (#598)
  fastvideo/v1/dataset/parquet_dataset_iterable_style.py
  fastvideo/v1/dataset/parquet_dataset_map_style.py
  fastvideo/v1/distributed/parallel_state.py
  fastvideo/v1/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA

[docs] Update slack invite (#601)
  README.md
  docs/source/getting_started/installation.md
  docs/source/inference/add_pipeline.md
  docs/source/inference/inference_quick_start.md
Due: none

[docs] update dev guide runpod image to py3.12 (#602)
  docs/source/contributing/developer_env/runpod.md
Due: none

Remove all unnecessary torch.cuda.empty_cache (#606)
  fastvideo/v1/distributed/parallel_state.py
  fastvideo/v1/entrypoints/video_generator.py
  fastvideo/v1/models/vaes/common.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/pipelines/stages/image_encoding.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/worker/gpu_worker.py
Due: VAE Tests, SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA

Set encoder TP size to 1 by default (#569)
  docs/source/inference/cli.md
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.sh
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.slurm
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/v1/tests/ssim/README.md
  fastvideo/v1/tests/ssim/test_inference_similarity.py
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  scripts/finetune/finetune_v1.sh
  scripts/inference/v1_inference_fasthunyuan.sh
  scripts/inference/v1_inference_hunyuan.sh
  scripts/inference/v1_inference_hunyuan_STA.sh
  scripts/inference/v1_inference_wan.sh
  scripts/inference/v1_inference_wan_STA.sh
  scripts/inference/v1_inference_wan_VSA.sh
  scripts/inference/v1_inference_wan_i2v.sh
Due: SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA

[Feature][Training]Update example fine-tuning scripts to enable gradient checkpointing (#618)
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/finetune_i2v.sh
  examples/training/finetune/Wan2.1-Fun-1.3B-InP/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.sh
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v.slurm
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v.slurm
Due: none

[bugfix] [training] use separate generator for validation (#610)
  fastvideo/v1/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA

[chore] release 0.1.2 (#622)
  fastvideo/version.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

video gen working on apple silicon (addressed issues from prior pr) (#595)
  examples/inference/basic/basic_mps.py
  examples/inference/basic/test.py
  fastvideo/v1/distributed/device_communicators/cpu_communicator.py
  fastvideo/v1/distributed/device_communicators/pynccl.py
  fastvideo/v1/distributed/parallel_state.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/layers/layernorm.py
  fastvideo/v1/layers/linear.py
  fastvideo/v1/layers/lora/linear.py
  fastvideo/v1/layers/rotary_embedding.py
  fastvideo/v1/layers/visual_embedding.py
  fastvideo/v1/layers/vocab_parallel_embedding.py
  fastvideo/v1/models/dits/stepvideo.py
  fastvideo/v1/models/dits/wanvideo.py
  fastvideo/v1/models/encoders/t5.py
  fastvideo/v1/models/loader/component_loader.py
  fastvideo/v1/models/loader/fsdp_load.py
  fastvideo/v1/models/parameter.py
  fastvideo/v1/models/schedulers/scheduling_flow_match_euler_discrete.py
  fastvideo/v1/models/vaes/wanvae.py
  fastvideo/v1/pipelines/lora_pipeline.py
  fastvideo/v1/pipelines/stages/decoding.py
  fastvideo/v1/pipelines/stages/denoising.py
  fastvideo/v1/pipelines/stages/text_encoding.py
  fastvideo/v1/pipelines/stages/validators.py
  fastvideo/v1/pipelines/wan/wan_pipeline.py
  fastvideo/v1/platforms/__init__.py
  fastvideo/v1/platforms/cpu.py
  fastvideo/v1/platforms/interface.py
  fastvideo/v1/platforms/mps.py
  fastvideo/v1/utils.py
  fastvideo/v1/worker/gpu_worker.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

[LoRA] Support v1 LoRA training (#576)
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  docs/source/training/data_preprocess.md
  examples/inference/lora/wan_lora_inference.py
  examples/training/finetune/wan_i2v_14b_480p/crush_smol/finetune_i2v_lora.sh
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v_lora.sh
  fastvideo/v1/configs/pipelines/base.py
  fastvideo/v1/dataset/__init__.py
  fastvideo/v1/dataset/latent_datasets.py
  fastvideo/v1/dataset/parquet_dataset_iterable_style.py
  fastvideo/v1/dataset/parquet_dataset_map_style.py
  fastvideo/v1/dataset/preprocessing_datasets.py
  fastvideo/v1/dataset/utils.py
  fastvideo/v1/distributed/parallel_state.py
  fastvideo/v1/fastvideo_args.py
  fastvideo/v1/forward_context.py
  fastvideo/v1/layers/lora/linear.py
  fastvideo/v1/models/loader/fsdp_load.py
  fastvideo/v1/pipelines/composed_pipeline_base.py
  fastvideo/v1/pipelines/lora_pipeline.py
  fastvideo/v1/pipelines/stages/conditioning.py
  fastvideo/v1/pipelines/stages/decoding.py
  fastvideo/v1/pipelines/stages/encoding.py
  fastvideo/v1/pipelines/stages/image_encoding.py
  fastvideo/v1/pipelines/stages/stepvideo_encoding.py
  fastvideo/v1/pipelines/stages/text_encoding.py
  fastvideo/v1/tests/modal/pr_test.py
  fastvideo/v1/tests/training/Vanilla/l40s_reference_wandb_summary.json
  fastvideo/v1/tests/training/Vanilla/test_training_loss.py
  fastvideo/v1/tests/training/lora/l40s_reference_lora_wandb_summary.json
  fastvideo/v1/tests/training/lora/test_lora_training.py
  fastvideo/v1/training/checkpointing_utils.py
  fastvideo/v1/training/training_pipeline.py
  fastvideo/v1/training/wan_i2v_training_pipeline.py
  fastvideo/v1/training/wan_training_pipeline.py
  fastvideo/v1/worker/gpu_worker.py
  fastvideo/v1/worker/multiproc_executor.py
  scripts/preprocess/v1_preprocess_wan_data_t2v.sh
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA

Py/add triton block sparse (#593)
  csrc/attn/README.md
  csrc/attn/benchmarks/bench_vsa_hopper.py
  csrc/attn/benchmarks/bench_vsa_triton.py
  csrc/attn/scratch.sh
  csrc/attn/setup_vsa.py
  csrc/attn/tests/test_block_sparse_triton.py
  csrc/attn/tests/test_triton.py
  csrc/attn/vsa/__init__.py
  csrc/attn/vsa/block_sparse_attn_triton.py
  csrc/attn/vsa/vsa.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, Training Tests, Training Tests VSA, Inference Tests STA, Precision Tests STA, Precision Tests VSA

Fix lora train steps (#627)
  examples/training/finetune/wan_t2v_1_3b/crush_smol/finetune_t2v_lora.sh
Due: none

[bugfix] fa3 no longer returns lse (#631)
  fastvideo/v1/attention/backends/flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, Training Tests VSA, Inference Tests STA
